body {
  background-color:lightcyan;
}  

h1 {
  color: #0025FF;
  font-size: 3em;
}

  h2 {
  color: green;
  font-size: 2em;
  }

p {
  color: #070707;
  font-size: 1.5em;
}

.links {
  background-color: #3df08d9d;
  color: white;
  width: 400px;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
